<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <title>Blogs</title>
</head>
<body>
<h2>Blogs List</h2>

<div>
    <!--TODO: create a table with all the blogs-->
    <a th:action="@{'/blog/create'}">
        <button type="button" class="btn btn-primary">Add Blog</button>
    </a>
</div>

</body>
</html>